<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="initial-text">
    <h1>Olá, <%= user.email  %></h1>
    <p>você precisa sair para criar uma nova conta</p>
</div>

<%- include('includes/messages')  %>

<%- include('includes/footer.ejs') %> 